[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "vim/.vim/bundle/vimproc.vim"]
	path = vim/.vim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "vim/.vim/bundle/unite.vim"]
	path = vim/.vim/bundle/unite.vim
	url = git@github.com:Shougo/unite.vim
[submodule "vim/.vim/bundle/peaksea"]
	path = vim/.vim/bundle/peaksea
	url = git@github.com:vim-scripts/peaksea.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/nerdtree-git-plugin"]
	path = vim/.vim/bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/.vim/bundle/css.vim"]
	path = vim/.vim/bundle/css.vim
	url = git@github.com:JulesWang/css.vim.git
[submodule "vim/.vim/bundle/vim-less"]
	path = vim/.vim/bundle/vim-less
	url = git@github.com:genoma/vim-less.git
[submodule "vim/.vim/bundle/vim-matchit"]
	path = vim/.vim/bundle/vim-matchit
	url = git@github.com:adelarsq/vim-matchit.git
[submodule "vim/.vim/bundle/surround"]
	path = vim/.vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/gitv"]
	path = vim/.vim/bundle/gitv
	url = git@github.com:gregsexton/gitv.git
[submodule "vim/.vim/bundle/phpcomplete.vim"]
	path = vim/.vim/bundle/phpcomplete.vim
	url = git@github.com:shawncplus/phpcomplete.vim.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-easy-align"]
	path = vim/.vim/bundle/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule "vim/.vim/bundle/vim-gutter"]
	path = vim/.vim/bundle/vim-gutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/bclose.vim"]
	path = vim/.vim/bundle/bclose.vim
	url = git@github.com:rbgrouleff/bclose.vim.git
[submodule "vim/.vim/bundle/vim-jinjg"]
	path = vim/.vim/bundle/vim-jinjg
	url = git@github.com:mitsuhiko/vim-jinja.git
[submodule "vim/.vim/bundle/typescript-vim"]
	path = vim/.vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/.vim/bundle/vim-js-indent"]
	path = vim/.vim/bundle/vim-js-indent
	url = git@github.com:jason0x43/vim-js-indent.git
